body {
        font-family: Roboto, sans-serif;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
      
}
.section-1 {
    outline: 2px solid orange;
    height: 450px;
    background-color: #1F2937;
    color: white;
    padding-top: 5px;
    padding-bottom: 125px;
    padding-left: 125px;
    padding-right: 125px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 2px solid pink;
}

.logo {
font-size: 24px;
}

.right-links {
font-size: 18px;
}

ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    gap: 8px;
    margin: 0px;
    padding: 0px;
    display: flex;
    outline: 3px solid red;
    color: white;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
    color: white;
  }

  .modal {
    background: #1F2937;
    display: flex;
    gap: 16px;
    padding: 16px;
    width: 480px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    outline: 2px solid orange;
  }

  button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
  }
  
  button.continue {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
  }