html {
  box-sizing: border-box;
}


body {
        font-family: Roboto, sans-serif;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        background-color: #1F2937;
        color: white;
      
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    outline: 2px solid burlywood;
}

.logo {
font-size: 24px;
font-weight: bolder;
}

.right-links {
font-size: 18px;
}

ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    gap: 18px;
    margin: 0px;
    padding: 0px;
    display: flex;
    outline: 3px solid saddlebrown;
    color: white;
  }

  a:link {
    text-decoration: none;
    color: antiquewhite;
  }

  a:visited {
    text-decoration: none;
    color: white;
  }

  .section-1 {
    width: 1000px;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    outline: 2px solid white;

} 

  .modal {
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    outline: 2px solid seagreen;
  }

  .header {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
  }

  .text {
    font-size: 18px;
    color: #E5E7EB;

  }

  button {
    cursor: pointer;
    padding: 8px 38px;
    border-radius: 10px;
    margin-top: 10px;
    color: #E5E7EB;
  }
  
  button.sign-up {
    background: royalblue;
    border: 1px solid royalblue;
    font-size: 18px;


  }

  .image {
  width: 600px;
  display: flex;
  flex: 1;
  outline: yellowgreen 3px solid;
  }  



  .title {
    font-size: 24px;
    text-align: center;
    background-color: white;
    font-weight: 900;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #1F2937;
  }

  .section-2 {
    height: 400px; 
    outline: 3px solid orange;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-top: 40px;
  }
  

  .beach {
    max-width: 200px;
    }
  
  .subtext {
    color: #1F2937;
    padding-top: 10px;
    }

  .section-3 {
    height: 270px; 
    outline: 3px solid rgb(100, 3, 68);
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    justify-content: center;
    font-style: italic;
    }

  .quote {
    width: 800px;
    height: 300px;
    color: #1F2937;
    font-size: 32px;
    }

  .section-3b {
  height: 30px; 
  outline: 3px solid rgb(100, 3, 68);
  background-color: #E5E7EB;
  color: #1F2937;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  display: flex;
  justify-content: center;
  text-align: right;
      }

  .refquote {
    padding-left: 500px;
  }